Flask==3.0.3
Flask-Cors==4.0.0
PyJWT==2.8.0
Flask-SocketIO==5.3.6
psycopg2-binary==2.9.9
Werkzeug==3.0.1
gevent==24.2.1
gevent-websocket==0.10.1
gunicorn==21.2.0
razorpay==1.4.1
reportlab==4.1.0
twilio==9.0.0
